{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>About iConsult</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Section 7 of the U.S. Endangered Species Act (ESA) directs federal agencies to 
        use their authorities to conserve threatened and endangered species. One
        way they do that is by "consulting" with the 
        <a href="http://www.fws.gov" target="_blank">U.S. Fish and Wildlife Service (FWS)</a>
        and/or the
        <a href="http://nmfs.noaa.gov" target="_blank">National Marine Fisheries Service (NMFS)</a>
        if an action the agency will carry out, permit, or fund might harm ESA-listed
        species.
      </p>

      <p>While the Services have web apps for consultations, they are dated
        (<a href="https://pcts.nmfs.noaa.gov/pcts-web/homepage.pcts">PCTS</a> for NMFS)
        or very spotty in their completeness
        (<a href="https://ecos.fws.gov/ipac/">IPaC</a> for FWS). A better approach 
        is needed given the fiscal, time, and personnel constraints the Services
        face. <strong>iConsult</strong> is an initial foray into better consultation.
      </p> 

      <h2>Concept</h2>
      <p>The basic premise of iConsult is that we can use a mixed model of Service-
        "controlled" consultation and an interactive crowd-sourcing app to make
        consultations work better. On one hand, the ESA gives FWS and NMFS the 
        responsibility for implementing section 7 consultations; the Services are
        ultimately answerable. On the other hand, over 93% of consultations from
        2008-2015 were "informal" consultations, meaning they covered actions
        that were no likely to harm listed species. Even though they tend to go 
        by pretty quickly, should professional biologists with the Services spend 
        their time reviewing that many actions that don't harm listed species? If
        not, then how can the necessary compliance that protects species be
        ensured?
      </p>

      <p>With <strong>iConsult</strong>, we're going to see if </p>

    </div>
    <div class="col-md-6">
      <p>Photo...</p>
    </div>
  </div>

{% endblock %}