{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <h2>Sign in</h2>
      <p>A demo web application for ESA section 7 consultations. Ain't nothing
        official here.</p>
    </div>
    <div class="col-md-8">
      <div class="login-signup">
        {% if form.errors %}
          <p style="color:red; font-weight:600">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}<br>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
              {% if field.help_text %}
                <p><small style="color: grey">{{ field.help_text }}</small></p>
              {% endif %}
            </p>
          {% endfor %}
          <button type="submit" class="btn btn-default">Log in</button>
          New here? <a href="{% url 'signup' %}">Sign up!</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
