<div class="markdownx row">
  <div class="col-md-6">
    {{ markdownx_editor }}
    <div class="format-bar">
      <p style="font-size:medium; text-align: center">
        <strong ><em>Formatting tips</em></strong>
      </p>
      <table width="100%" align="center" style="text-align: center">
        <tr>
          <td>
            <strong style="font-size:larger"># HEADER 1</strong>
          </td>
          <td>
            <em>_italic_</em>
          </td> 
          <td>
            drag-and-drop images
          </td>
        </tr>
        <tr>
          <td><strong>## HEADER 2</strong></td>
          <td><strong>__bold__</strong></td>
          <td>[link text](URL)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <span style="font-weight: 600">Summary Preview</span> 
    <div class="markdownx-preview"></div>
  </div>
</div>